extends ../blocks/layout/layout
block append head
  +styles('css/styles.css')
block title
  title Gulp Bootstrap 4
block content
  .container
    .row
      .col-sm-4
        | One of three columns
      .col-sm-4
        | One of three columns
      .col-sm-4
        | One of three columns
    button.btn.btn-primary-outline(type='button') Primary
    button.btn.btn-secondary-outline(type='button') Secondary
    button.btn.btn-success-outline(type='button') Success
    button.btn.btn-info-outline(type='button') Info
    button.btn.btn-warning-outline(type='button') Warning
    button.btn.btn-danger-outline(type='button') Danger
    script(src="js/app.js")
