html
  head
    link(rel="stylesheet" href="css/styles.css")
  body
  .container
    .row
      .col-sm-4
        | One of three columns
      .col-sm-4
        | One of three columns
      .col-sm-4
        | One of three columns
    button.btn.btn-primary-outline(type='button') Primary
    button.btn.btn-secondary-outline(type='button') Secondary
    button.btn.btn-success-outline(type='button') Success
    button.btn.btn-info-outline(type='button') Info
    button.btn.btn-warning-outline(type='button') Warning
    button.btn.btn-danger-outline(type='button') Danger
    script(src='vendor/fancybox/lib/jquery-1.9.0.min.js')
    script(src='vendor/fancybox/source/jquery.fancybox.js')
