article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div,
form {
  display: block;
  box-sizing: border-box;
}

a:active,
a:hover {
  outline: 0;
}
button:active,
button:hover {
  outline: 0;
}
body {
  margin: 0;
  padding: 0;
}
img {
	width: auto;
	height: auto;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a[href*="tel"] {
	white-space: nowrap;
}
a {
  text-decoration: none;
  color: inherit;
}
a img {
	border: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
